
.accordion_container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.accordion_item {
  margin-bottom: 20px;
}

.accordion_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.accordion_header h3 {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
}

.accordion_header .icon {
  font-size: 24px;
  font-weight: bold;
  transition: transform 0.2s ease-in-out;
}

.accordion_content {
  padding-top: 20px;
  padding-left: 5px;
  border-top: 1px solid #ddd;
  overflow: hidden; 
  max-height: 0px;
  opacity: 0;
  transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
 
 .accordion_content.open {
  max-height: fit-content; 
  opacity: 1;
  transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
} 


.heading{
  text-align: center;
  font-size: 20px;
  margin: 5px;
  color:black;
  font-weight: 500;

}
.toggle_buttons{
  margin-left: 800px;
  margin-top: 10px;
}